/* Styles pour la navbar */
.navbar {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar-brand {
  font-size: 1.5rem;
}

/* Styles pour la disposition principale */
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 50px; /* Compense la hauteur de la navbar */
}

.main-content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.sidebar {
  width: 250px;
  padding: 10px;
  background-color: #333;
  color: #fff; /* Changer à une couleur plus lisible */
  overflow-y: auto;
  border-right: 1px solid #ddd;
}

.institution-item {
  padding: 10px;
  cursor: pointer;
}

.institution-item:hover {
  background-color: #555; /* Améliorer l'interaction utilisateur */
}

.content {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  color: #333; /* Assurez une bonne lisibilité */
}

.image-section {
  margin-top: 20px;
  text-align: center;
}

/* Styles pour les éléments */
.table-title {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.element-cell {
  cursor: pointer;
  transition: background-color 0.3s;
}

.element-cell:hover {
  background-color: #e0e0e0;
}

.popup {
  position: absolute;
  z-index: 1000;
  background-color: rgb(95, 8, 8);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  padding: 16px;
  max-width: 300px;
}

.popup-content {
  font-size: 14px;
}

.popup-content h3 {
  margin-top: 0;
  color: #333;
}

.popup-content p {
  margin: 8px 0;
  color: #666;
}
